.title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    position: relative;
    color: #f2f5f7;
}

.title:after {
    content: '';
    height: 2px;
    width: 100%;
    background: crimson;
    position: absolute;
    left: 0;
    bottom: -8px;
}

.customCard {
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px #2E67F8!important;
}

.prodImg {
    height: 300px;
}

@media (max-width: 640px){
    .prodImg {
        height: 200px;
    }
  } 
.titleSeperator {
    width: 200px;
    height: 3px;
    margin: 20px auto;
    border: 0;
    background: #002395;
}