.form-select:focus {
    border-color: #2E67F8 !important; 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px #2E67F8!important;
  }

  .form-select {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px #2E67F8!important;
  }