.name {
  position: relative;
  color: black;
  top: 50%;
}


.name:after {
  content: '';
  height: 2px;
  width: 100%;
  background: crimson;
  position: absolute;
  left: 0;
  top: 2.5rem
}
.itemBox {
    background-color: white;
    position: relative;
    height: auto;
    border: 1px solid gray;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 3px 3px 15px crimson;
}
.details{
  display: flex;
  justify-content: space-between;
}
.total {
  display: flex;
  align-items: center;
  color: red;

}
.description {
  display: flex;
  justify-content: center;
  padding-top: 50%;
  padding-bottom: 50%;
  
}

.pricing {
  display: flex;
  justify-content: center;
  padding-top: 50%;
  padding-bottom: 50%;
  
}


