.color-nav, .linkText {
    background-color: #FFE81F;
    color: black;
}

.userAction {
    text-align: right;
}

.customNavLink:hover {
    padding-bottom: 1px !important;
    color: crimson !important;
    border-bottom: 3px  solid crimson !important;
    bottom: -3px !important;
}
